body {
    background-image: url(bg.jpg);
    background-size: cover;
}

div.transbox {
    width: 1700px;
    height: 800px;
    margin: 90px 90px;
    background-color: #ffffff;
    border: 1px solid #FFFFFF;
    opacity: 0.8;
}

h1 {
    text-align: center;
}

h2.ex1 {
    margin-left: 5cm;
}

h3.ex1 {
    margin-left: 5cm;
}

img.ex1 {
    margin-left: 5cm;
}

p {
    text-align: center;
}

p.ex1 {
    margin-right: 2cm;
}

p {
    color: mediumpurple
}

a:link {
    color: green;
    background-color: transparent;
    text-decoration: none;
}

a:visited {
    color: pink;
    background-color: transparent;
    text-decoration: none;
}

a:hover {
    color: red;
    background-color: transparent;
    text-decoration: underline;
}

a:active {
    color: yellow;
    background-color: transparent;
    text-decoration: underline;
}

a.ex1 {
    margin-left: 5cm;
}

.test {
    padding: 10px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;
}

* {
    moz-user-select: -moz-none;
    -moz-user-select: none;
    -o-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}