html, body {
    width: 100%;
    height: 100%;
    margin: 0 auto;
}

p, h2 {
    margin: 0;
}

a {
    text-decoration: none;
    display: inline-block;
}

#center {
    width: 100%;
    height: 100%;
    background: url('../image/detail_bg.png') no-repeat;
    background-size: 100% 100%;
    color: #000;
    min-height: 800px;
    min-width: 1300px;
}

.arrow-container {
    width: 1000px;
    padding: 20px 0;
    text-align: left;
    display: flex;
    align-items: center;
}

.arrow-container a {
    margin-right: 10px;
}

.back-btn {
    width: 18px;
    height: 18px;
}

.intro-container {
    width: 920px;
    height: 420px;
    padding: 40px 40px 100px;
    margin: 50px auto 0;
    background: url('../image/detail_frame.png') no-repeat;
    background-size: 100% 100%;
}

.intro-top-wrapper {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.intro-img {
    margin-right: 40px;
}

.title {
    font-weight: 500;
    font-size: 30px;
    line-height: 30px;
    text-align: left;
    margin-bottom: 35px;
}

.profile-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.profile-divider {
    width: 1px;
    height: 48px;
    background: rgba(0, 0, 0, 0.08);
    margin: 0 50px;
}

.intro-divider {
    width: 920px;
    height: 1px;
    background: rgba(0, 0, 0, 0.08);
    border-radius: 24px;
    margin: 40px 0;
}

.value {
    display: inline-block;
    font-size: 32px;
    font-weight: 500;
}

.unit {
    display: inline-block;
    font-size: 16px;
}

.prop {
    margin-top: 8px;
}

.name {
    font-size: 16px;
}

.intro-bottom-wrapper {
    text-align: left;
    font-size: 18px;
    line-height: 32px;
    color: rgba(0, 0, 0, 0.8);
}